[submodule "device/esp8266"]
	path = device/esp8266
	url = https://github.com/buzzsurfr/color-torch-device-esp8266.git

[submodule "client/browser"]
	path = client/browser
	url = https://github.com/buzzsurfr/color-torch-browser.git
[submodule "client/alexa"]
	path = client/alexa
	url = https://github.com/buzzsurfr/color-torch-alexa.git
[submodule "client/alexa-smart-home"]
	path = client/alexa-smart-home
	url = https://github.com/buzzsurfr/color-torch-alexa-smart-home.git
